<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="inputFile" value="C:\Users\Jonatan\Desktop\Software Construction\QL Assignment\many-ql\FelipezConde\testsamples\divBy0Behavior.txt"/>
    <add key="outputPath" value="C:\Users\Jonatan\Desktop\Answers.xml"/>
  </appSettings>
</configuration>