#naam {
	 -fx-background-color: #CCFF99;}

#aanwezig {
	 -fx-background-color: #CCFF99;}

#aantal_personen {
	 -fx-background-color: #CCFF99;}

#overnachten {}

#zin_in {
	 -fx-background-color: #CCFF99;}

