
*.sqlite
parsetab.py
__pycache__/
*.py[cod]
*.so
*.log
*.out
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
htmlcov/
.coverage
.cache
docs/_build/
target/
userData/